/* ++================================================================home */
@font-face {
    font-family: 'Indivisible-light';
    src: url('/assets/fonts/fonnts.com-Indivisible_Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Indivisible-semi';
    src: url('/assets/fonts/fonnts.com-Indivisible_SemiBold.woff') format('woff');
    font-weight: 600;
} 
/* @font-face {
    font-family: 'antonia-variable';
    src: url('assets/fonts/antonia-variable-2.otf') format('opentype');
    font-weight: normal;
} */
@font-face {
    font-family: 'Smoothy Slanted';
    src: url('/assets/fonts/FontsFree-Net-Smoothy-Rsz-Slanted.ttf') format('woff');
    font-weight: 600;
} 
body{
    /* font-family: 'antonia-variable',sans-serif; */
    /* font-family: "Indivisible-light",sans-serif; */
}
.smoothy-fonts{
    font-family: 'Smoothy Slanted';
    font-size: 60px;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
    transform:skewY(-10deg);
}
.nav-btn{
    height: 50px;
    width: 50px;
    /* background-color: #F4B545; */
    /* border-radius: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items:center; */
    position: relative;
    /* border: 2px solid white; */
    cursor: pointer;
    /* z-index: 5; */

}

.nav-btn img{
   height: 40px;
   width: 50px;
}
.nav-menu{
    position: fixed;
    background-color: #F4B545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 150%;
    right: 0;
    bottom: 150%;
    z-index: 2;
    border-radius: 0 0 0 100%;
    transition: all 1s;
    overflow: hidden;
}
.nav-menu-open{
    left: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
}
.nav-menu ul{
    list-style: none;
    /* opacity: 0; */
    /* transition: all 2s; */
}
.nav-link{
    text-align: left;
    color: white;
    font-size: 46px;
    font-weight: 600 !important;
    margin-bottom: 0px;
    /* display: none; */
    /* transition: all 1s; */
    font-family: "Indivisible-semi",sans-serif;
}
.nav-logo-div{
    /* background-color: #F4B545; */
    padding: 20px 7px 20px 7px;
    position: fixed;
    top: 10px;
    border-radius: 1px !important;
}

.hero-section{
    /* margin-top: -100px; */
    /* background: linear-gradient(#000000fa,#000000f8); */
}
.top-video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
section{
    position: relative;
    z-index: 1;
}
.bg-primary{
    background-color: #F4B545 !important;
}
.text-primary{
    color: #F4B545 !important;
}
.bg-dark{
    background-color: black !important;
}
.content-2,
.content{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    /* height: 100vh !important; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.181);
}
.content-2{
    top: 100vh;
    /* height: 50vh; */
    height: auto;
}

.heading-primary{
    /* font-family: 'Indivisible-semi',sans-serif; */
    /* font-family: 'Indivisible'; */
    font-family: 'Indivisible-semi',sans-serif;
    font-size: 60px;
    /* font-weight:600; */
    color: #F4B545;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: 600 !important;
}
.heading-secondry{
    font-family: 'Indivisible-semi',sans-serif;
    font-size: 50px;
    font-weight: 600 !important;
    color: #F4B545;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  
}
.heading-tertiary{
    font-family: 'Indivisible-semi',sans-serif;
    font-weight: 600 !important;
    font-size: 40px;
    color: white;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);   */
}
.hero-section p{
    /* font-family: 'Indivisible-light',sans-serif; */
    font-family: 'Indivisible-light',sans-serif;
    font-weight: 300 !important;
    font-size: 30px;
   
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.87);
    color: white;
}
.hero-section{
    background-color: rgba(0, 0, 0, 0.181); 
    height: 100vh !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.play-section{
    background: rgba(0, 0, 0, 0.181); 
    height: 100vh !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.schedule-meeting{
    background-image: url("../images/6179456.jpg");
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.call-btn{
    width: 300px;
    /* margin: 0 auto; */
}
.text{
    color: rgb(27, 27, 27);
    font-size: 16px;
    font-weight: 500;
    font-weight: 300 !important;
    font-family: "Indivisible-light",sans-serif;
}
.sustainability,
.compaign{
    border-radius:  7px 50px 7px 7px;
        /* box-shadow:inset -20px 0 30px rgba(0, 0, 0, 0.3); Adjust shadow values as needed */

}
footer{
    padding: 50px 0 !important;
    background-color: #353534 !important;
}


.sustainability{
    border-color: white !important;
}


.reasons {
    padding: 80px 0px; }
    @media only screen and (min-width: 1700px) {
      .reasons {
        padding: 100px 0px; } }
    @media only screen and (max-width: 768px) {
      .reasons {
        padding: 60px 10px; } }
    @media only screen and (max-width: 570px) {
      .reasons {
        padding: 60px 10px; } }
  
  .icon-72px {
    height: 80px; }
    @media only screen and (max-width: 768px) {
      .icon-72px {
        height: 60px; } }
  
  .scroll-card {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 82px;
    display: flex;
    position: -webkit-sticky;
    position: sticky; }
    @media only screen and (max-width: 767px) {
      .scroll-card {
        padding: 30px 15px; } }
  
  .teams_card-heading {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff; }
    @media only screen and (max-width: 991px) {
      .teams_card-heading {
        font-size: 20px; } }
    @media only screen and (max-width: 767px) {
      .teams_card-heading {
        font-size: 18px; } }
  
  .teams_body {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white; }
    @media only screen and (max-width: 991px) {
      .teams_body {
        font-size: 14px; } }
  

  
  .scroll-card._1 {
    top: 100px;
    width: 100% !important; 
    min-height: 400px;
}
   
  
  .scroll-card._2 {
    top: 120px;
    width: 100% !important; }

  
  .scroll-card._3 {
    width: 100% !important;
    top: 150px; }

 

@media only screen and (max-width:768px){
    .content-2{
        top: 600px;
    }
    .smoothy-fonts{
        font-size: 40px;
        text-align: center;
    }
    .heading-primary{
        font-size: 40px;
    }
    .heading-secondry{
        font-size: 40px;
    }
    .heading-tertiary{
        font-size: 40px;
    }
    .hero-section h2{
        font-size: 20px;
    }
    .hero-section{
        height: 600px !important; 
    }
    .nav-link{
        font-size: 22px;
    }
    .nav-menu ul{
        padding-left: 0 !important;
    }
    .call-btn{
        width: auto !important;
    }
    .heading-tertiary{
        font-size: 22px !important;
        text-align: center !important;
    }
    .scroll-card{
        position: relative;
    }
    .scroll-card._1,
    .scroll-card._2,
    .scroll-card._3{
        top: 0;
        margin-top: 25px;
    }
    .text{
        text-align: center;
    }
}